body {
  margin: 0;
  padding: 20px;
}

body h1 {
  text-align: center;
}

/* .column-input 
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  } */

/* .column-text{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
} */
